@model IEnumerable<Cuisine.Models.Product>
@{
    ViewBag.Title = "South Bridge Charcoal Grill- Halal";
}
    <script src="../../Scripts/jquery.easyAccordion.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../Scripts/utility.js"></script>
<script type="text/javascript">
    $("#liHome").addClass('active');
</script>
<div id="slider">
    <div id="accordion-1">
        <dl>
        @foreach (var item in Model)
        {
            <dt>@item.Name</dt>
            <dd><h2>@item.Description</h2>
            <p><img src="../../Content/Images/monsters/img1.png" alt="Alt text to go here" />
            </p>
            <h3>£@item.Price </h3>
            <br />
            <a href = "#" onclick ="AddDeal(@item.ProductId)">Order</a>            
            </dd>                        
        }            
        </dl>
    </div>
</div>
<div>
    <h4>About the Company</h4>
    <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac..</em></p>
</div>
