/* Free css docuement by http://Templatesperfect.com
Template: Earlyish
 Author Paarth */


*{margin:0;padding:0}:focus,:active {outline:0}img{border: 0}
body { font: .8em Arial, Tahoma, Verdana; background: #fff url(Images/bg.gif) repeat-x; color: #777; }
a { text-decoration: none; color: #065d89; }
h1 { font-size: 1.4em; font-weight: normal; }
	h1 a { color: #fff; font-size: 1.6em; }
h2 { font-size: 1.2em; }
h3 { font-size: 20px; padding: 6px 7px; color: #333; font-weight: normal; margin: 0 0 15px 20px; float: left; }
h4 { margin: 0 0 15px; color: #555; font-weight: normal; font-size: 1.6em; font-weight: normal; }
p { clear: both; line-height: 1.64em; margin: 0 0 15px; }
.line { clear: both; margin: 0 0 5px; background: url(Images/line.png) no-repeat; height:3px;}
.clear { clear: both; }
#content { width: 970px; margin: 0 auto; }
	#top { color: #ccc; padding: 6px 20px 0; font-size: .84em; text-align: right; }
	#logo { float: left;padding: 50px 15px 15px; margin: -46px 0 10px; }
		#logo h1 { text-shadow: 1px 1px 1px #7E0E0E; }
	#menu { float: right; margin: 40px 20px 0; }
		#menu li { display: inline; font-size: 1.3em; }
			#menu li a { float: left; color: #808080; padding: 0 0 5px; margin: 0 0 0 55px; }
			#menu li a:hover, #menu li.current a, #menu li a:focus { color: #000; border-bottom: 1px solid #ddd; }
			
			
	#slider { margin: 0 0 20px; }
/* UNLESS YOU KNOW WHAT YOU'RE DOING, DO NOT CHANGE THE FOLLOWING RULES */
				  .easy-accordion h2{margin:0px 0 20px 0;padding:0;font-size:1.6em;}
		.easy-accordion{display:block;position:relative;overflow:hidden;padding:0;margin:0}
		.easy-accordion dt,.easy-accordion dd{margin:0;padding:0}
		.easy-accordion dt,.easy-accordion dd{position:absolute}
		.easy-accordion dt{margin-bottom:0;margin-left:0;z-index:5;/* Safari */ -webkit-transform: rotate(-90deg); /* Firefox */ -moz-transform: rotate(-90deg);-moz-transform-origin: 20px 0px;  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);cursor:pointer;}
		.easy-accordion dd{z-index:1;opacity:0;overflow:hidden}
		.easy-accordion dd.active{opacity:1;}
		.easy-accordion dd.no-more-active{z-index:2;opacity:1}
		.easy-accordion dd.active{z-index:3}
		.easy-accordion dd.plus{z-index:4}
		.easy-accordion .slide-number{position:absolute;bottom:0;left:10px;font-weight:normal;font-size:1.1em;/* Safari */ -webkit-transform: rotate(90deg); /* Firefox */ -moz-transform: rotate(90deg);  /* Internet Explorer */ 
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
		 
		 
		/* FEEL FREE TO CUSTOMIZE THE FOLLOWING RULES */
		
		dd p{line-height:120%}
		
		#accordion-1{width:950px;height:245px;padding:10px;background:#fff;}
		#accordion-1 dl{width:950px;height:245px}	
		#accordion-1 dt{height:46px;line-height:44px;text-align:right;padding:0 15px 0 0;font-size:1.1em;font-weight:bold;font-family: Tahoma, Geneva, sans-serif;text-transform:uppercase;letter-spacing:1px;background:#fff url(Images/slide-title-inactive-1.jpg) 0 0 no-repeat;color:#26526c}
		#accordion-1 dt.active{cursor:pointer;color:#fff;background:#fff url(Images/slide-title-active-1.jpg) 0 0 no-repeat}
		#accordion-1 dt.hover{color:#68889b;}
		#accordion-1 dt.active.hover{color:#fff}
		#accordion-1 dd{padding:25px;background:url(Images/slide.jpg) bottom left repeat-x;border:1px solid #dbe9ea;border-left:0;margin-right:3px}
		#accordion-1 .slide-number{color:#68889b;left:10px;font-weight:bold}
		#accordion-1 .active .slide-number{color:#fff;}
		#accordion-1 a{color:#68889b}
		#accordion-1 dd img{float:right;margin:0 0 0 30px;}
		#accordion-1 h2{font-size:2.5em;margin-top:10px}
		#accordion-1 .more{padding-top:10px;display:block}
			
	.left { float: left; width: 300px; }	
	.right { float: right; width: 630px; margin: 0 0 20px; }
			.right img {float:left; margin:10px; border:1px solid #CCC;}
		.right h3 { background: #808080; font-size: .84em; }
	.third { float: left; width: 296px; margin: 0 40px 20px 0; }
		.last { margin-right: 0; }
		
		.third img {float:left; margin:10px;}
		.phone {color:#fff; font-size:16px; font-weight:bold; margin:2px 10px}	
		.right_block{
float:right;
padding:20px 20px 10px 0;
}
input.newsletter_input{
background-color:#f5f5f5;
border:1px #e2c7c8 solid;
width:140px;
height:18px;
padding:4px;
float:left;
}
form#newsletter{
padding:10px 0 0 0;
}
input.newsletter_submit{
background-color:#222;
color:#FFFFFF;
text-align:center;
float:left;
padding:4px 4px 3px 4px;
margin:0 0 0 10px;
border:1px #000 solid;
cursor:pointer;
}
.testbox{
padding:20px 10px 5px 0;
margin:0;
border-bottom:1px #ededed solid;
}
.testbox p{
font-style:italic;
}

/* --- Page --- */

#sidebar {
	width: 260px; 
	padding: 20px;
	float: right;
	border: 1px solid #dcdcdc;
	margin-bottom: 44px;
	margin-left:20px;
}

#sidebar h3, .sidebar_box {
	background: #eaeaea; 
	padding: 5px 10px; 
	margin-bottom: 15px;
	border: 1px solid #FFF;
	outline:1px solid #dcdcdc;
}


.navcontainer {  margin-bottom: 25px ; float:left}

.navcontainer ul{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.navcontainer a {
	display: block;
	padding: 10px 10px;
	width: 240px;
	background: url(images/seperator.png) repeat-x bottom;
}

.navcontainer a:link, .navlist a:visited {
	text-decoration: none;

}

.navcontainer a:hover{
	color: #000;
	
}

.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    display: inline-block;
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 240px;
}

.text-box.multi-line
{
    width: 240px;
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

	#footer { text-align:right;clear: both; font-size: .84em; padding-top: 20px; }
	#footer  img{border:none; float:right; margin:0; padding:0;}