@model IEnumerable<Cuisine.Models.Category>

<ul id="categories">
    @foreach (var category in Model)
    {
        <li>@Html.ActionLink(category.Name, 
                "Browse", "Store",
                 new { Genre = category.Name }, null)
        </li>
    }
</ul>